# shellcheck shell=bash

# REF: https://direnv.net/man/direnv.1.html
# REF: https://direnv.net/man/direnv-stdlib.1.html

VENV_DIR=.venv
if [[ ! -e "${VENV_DIR}" ]]; then
	make "${VENV_DIR}"
fi

source "${VENV_DIR}/bin/activate"
