# shellcheck shell=bash

# REF: https://direnv.net/man/direnv.1.html
# REF: https://direnv.net/man/direnv-stdlib.1.html

# ------------------------------------------------------------

# @todo Using uv managed Python builds (python-build-standalone) causes an error when the `watchdog` package (a dep of `functions-framework`) is being installed.
# @→    https://github.com/gorakhargosh/watchdog/issues/1025
# @→    https://github.com/indygreg/python-build-standalone/issues/210
#
# REF: https://docs.astral.sh/uv/configuration/environment/
# REF: https://docs.astral.sh/uv/concepts/python-versions/#adjusting-python-version-preferences
#export UV_PYTHON_PREFERENCE=only-managed
export UV_PYTHON_PREFERENCE=only-system

# REF(Running locally): https://cloud.google.com/functions/docs/running/function-frameworks#run_the_functions_framework
export PORT=8710
