# shellcheck shell=bash

# REF: https://direnv.net/man/direnv.1.html
# REF: https://direnv.net/man/direnv-stdlib.1.html

# REF(Running locally): https://cloud.google.com/functions/docs/running/function-frameworks#run_the_functions_framework
export PORT=8710
