# shellcheck shell=bash

# REF: https://direnv.net/man/direnv.1.html
# REF: https://direnv.net/man/direnv-stdlib.1.html

VENV_DIR=.venv
if [[ ! -e "${VENV_DIR}" ]]; then
	make "${VENV_DIR}"
fi

source "${VENV_DIR}/bin/activate"

# ------------------------------------------------------------

# Use a non-default port for running the functions-framework(1) dev server locally.
# REF: https://cloud.google.com/run/docs/local-dev-functions
export PORT=8710
